<div>
  <h2 class="uppercase text-center mb-4 font-bold text-4xl pt-20">
    Calendars & Newsletters
  </h2>
  <div class="p-4 sm:p-6 w-full max-w-[1420px] mx-auto">
    <div class="grid gap-4 sm:gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
      <div class="bg-white p-6 rounded-lg shadow-md border-l-4 w-100 h-100">
        <div class="flex flex-col h-full">
          <h3 class="text-lg font-bold text-gray-800 mb-2">
            NEW CALENDARS BEGINNING SUMMER 2020
          </h3>
          <div class="text-sm text-gray-600 flex-grow text-justify">
            <a
              href="https://www.art.yale.edu/public-events"
              class="hover:text-gray-300 text-blue-500"
              >Public Calendar >></a
            >
            <p>Containing those events open to the public.</p>
            <a
              href="https://www.art.yale.edu/soa-in-the-world"
              class="hover:text-gray-300 text-blue-500"
              >School of Art in the World >></a
            >
            <p>
              Containing events and exhibitions hosted by, led by, or featuring
              members of the School of Art community.
            </p>
            <a
              href="https://www.art.yale.edu/calendar"
              class="hover:text-gray-300 text-blue-500"
              >Community Calendar >></a
            >
            <p>
              Containing those events <b>open only</b> to the SoA community.
            </p>
          </div>
          <button
            class="mt-4 bg-blue-900 text-white py-2 rounded-lg w-auto hover:bg-blue-900"
          >
            Editor details
          </button>
        </div>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-md border-l-4 w-100 h-100">
        <div class="flex flex-col h-full">
          <h3 class="text-lg font-bold text-gray-800 mb-2 underlined">
            Get news from the Yale School of Art in your inbox: Sign up for our
            newsletters >>
          </h3>
          <div class="text-sm text-gray-600 flex-grow text-justify">
            <p>We publish two newsletters during the academic year:</p>
            <p>
              <b>News From New Haven</b> — A public monthly newsletter about
              news and events happening on campus.
            </p>
            <p>
              <b>Week at SoA</b> - A weekly community-only email listing SoA
              events as well as public and university events in New Haven.
            </p>
          </div>
          <button
            class="mt-4 bg-blue-900 text-white py-2 rounded-lg w-full hover:bg-blue-600 transition duration-200"
          >
            Editor details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
