<footer class="bg-gray-900 text-white py-8 px-4 sm:px-8">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="space-y-2">
      <h3 class="text-lg font-semibold">Yale School of Art</h3>
      <p>1156 Chapel Street</p>
      <p>New Haven, Connecticut</p>
      <p>06520-8339</p>
    </div>

    <div class="space-y-2">
      <h3 class="text-lg font-semibold border-b-2 border-gray-500 pb-1">
        Contact
      </h3>
      <p>Phone: (203) 432-2600</p>
      <p>Email: info&#64;yale.edu</p>
    </div>

    <div class="space-y-2">
      <h3 class="text-lg font-semibold border-b-2 border-gray-500 pb-1">
        Quick Links
      </h3>
      <ul class="space-y-1">
        <li>© 2024 Yale School of Art</li>
        <li>
          <a
            href="https://www.art.yale.edu/about/support-the-school"
            class="hover:text-gray-300"
            >Support the School</a
          >
        </li>
        <li>
          <a
            href="https://www.art.yale.edu/about/visiting"
            class="hover:text-gray-300"
            >Visiting</a
          >
        </li>
      </ul>
    </div>
    <div class="space-y-2">
      <h3 class="text-lg font-semibold border-b-2 border-gray-500 pb-1">
        Follow Us
      </h3>
      <ul class="space-y-1">
        <li>
          <a
            href="https://www.instagram.com/yaleschoolofart/"
            class="hover:text-gray-300"
            >Instagram</a
          >
        </li>
        <li>
          <a
            href="https://www.facebook.com/YaleSchoolofArt/"
            class="hover:text-gray-300"
            >Facebook</a
          >
        </li>
        <li>
          <a href="http://yaleart.org/youtube" class="hover:text-gray-300"
            >YouTube</a
          >
        </li>
        <li>
          <a
            href="https://www.art.yale.edu/about/contact"
            class="hover:text-gray-300"
            >Contact</a
          >
        </li>
        <li>
          <a href="https://www.art.yale.edu/sitemap" class="hover:text-gray-300"
            >Sitemap</a
          >
        </li>
        <li>
          <a
            href="https://your.yale.edu/policies-procedures/policies/1605-web-accessibility-policy"
            class="hover:text-gray-300"
            >Accessibility at Yale</a
          >
        </li>
      </ul>
    </div>
  </div>
  <p
    class="justified-text text-sm mt-6 text-gray-300 px-4 sm:px-0 leading-relaxed"
  >
    This website exists as an ongoing collaborative experiment in digital
    publishing and information sharing. Because this website functions as a
    wiki, all members of the School of Art community—graduate students, faculty,
    staff, and alums—have the ability to add new content and pages, and to edit
    most of the site’s existing content. Content is the property of its various
    authors. When you contribute to this site, you agree to abide by Yale
    University academic and network use policy, and to act as a responsible
    member of our community.
  </p>
</footer>
